/* About (Index) */
html, body {
    color: #777777;
}
#header {
    background-color: #ffffff;
}

body {
    background-image: url("../images/subtlegrey.jpg");
    background-repeat: repeat;
}

.navigation {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

a.about-btn:hover {
    background-color: #4aaaa5;
    height: 60px;
}

a.about-btn {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display: inline-block;
    color: #777777;
    margin: 10px;
}

a.portfolio-btn:hover {
    background-color: #4aaaa5;
    height: 60px;
}

a.portfolio-btn {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display: inline-block;
    color: #777777;
    margin: 10px;
}

a.contact-btn:hover {
    background-color: #4aaaa5;
    height: 60px;
}

a.contact-btn {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display: inline-block;
    color: #777777;
    margin: 10px;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    border: #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    height: 60px;
    width: 252px;
    display: inline-block;
    margin-left: 208px;
}

h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    margin-left: 8px;
    font-size: 25pt;
}

.divider {
    width: 98%;
}

section {
    background-color: #ffffff;
    width: 75%;
    height: 650px;
    margin: auto;
    border: #777777;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-right: 8px;
}

img {
    float: left;
    margin-left: 8px;
    margin-right: 5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    text-align: center;
}

/* Portfolio */
.wrapper {
    min-height:100%;
    margin-bottom: -50px;
}

.example {
    margin-left: 8px;
    margin-bottom: 5px;
    float: left;
}

#copyright {
    text-align: center;
    color: #ffffff;
}

#marvel {
    float: left;
}

#star-wars {
    float: left;
}

#harry-potter {
    float: left;
    clear: left;
}

#hunger-games {
    float: left;
}

#silver-wind {
    float: left;
    Clear: left;
}

/* Contact */
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
}

form {
    margin-left: 35px;
}